.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .home-container{
    display: flex;
    gap: 8px;
    
} */
/* .course {
    width: 250px;
    max-height: 500px;

} */
.course-title{
    font-weight: bold;
}

.more-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

